:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 80px;
    border: 1px solid aquamarine;
    border-radius: 5%;
    margin: 10px;
    place-self: center;
}

.mark {
    top: 27px;
    left: 37px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

:host.active {
    background-color: cadetblue;
}